<div class="hidden lg:flex flex-col h-screen w-screen justify-center items-center">
    <div class="flex flex-col gap-9">

        <div>
            <div class="text-center mb-8">
                <p class="masters-header text-4xl font-bold">Masters of Medicine</p>
                <p class="masters-sub text-4xl font-bold">Meet our team of specialists</p>
            </div>
            <p class="text-color w-1/2 text-center m-auto">Our team of specialists is at the forefront of medical innovation. Each specialist brings a unique blend of expertise, empathy, and experience to ensure that your health is in the best hands:</p>
        </div>

        <div class="grid grid-cols-2 grid-rows-2 gap-20">
            <div class="card flex items-center justify-center shadow-lg rounded-2xl w-[38rem] h-[18rem] relative bg-[#349DD0]">
                <div class="flex h-[17rem] gap-4 bg-[#349DD0] rounded-2xl relative">
                    <img class="w-[16.063rem] h-[20rem] rounded-2xl absolute -left-4 -top-7 z-10 bg-transparent" src="https://i.imgur.com/zzXyoQl.png" alt="">
                    <div class="flex flex-col gap-4 my-7 mr-7 pl-60 bg-[#349DD0]">
                        <div class="flex flex-col">
                            <p class="text-xl text-white font-bold bg-[#349DD0]">Dr. Sarah Johnson</p>
                            <p class="text-xl text-white font-bold bg-[#349DD0]">( Family Medicine Doctors )</p>
                        </div>
                        <div>
                            <p class="text-sm text-white bg-[#349DD0]">Dr. Sarah Johnson is a Family Medicine Doctor with over 10 years of experience, specializing in preventive care and managing chronic conditions for families.</p>
                        </div>
                        <div class="flex gap-4">
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Renew</button>
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Terminate</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card flex items-center justify-center shadow-lg rounded-2xl w-[38rem] h-[18rem] relative bg-[#349DD0]">
                <div class="flex h-[17rem] gap-4 bg-[#349DD0] rounded-2xl relative">
                    <img class="w-[16.063rem] h-[20rem] rounded-2xl absolute -top-10 z-10 bg-transparent" src="https://i.imgur.com/NWAL69g.png" alt="">
                    <div class="flex flex-col gap-4 my-7 mr-7 pl-60 bg-[#349DD0]">
                        <div class="flex flex-col">
                            <p class="text-xl text-white font-bold bg-[#349DD0]">Dr. Shutra Maury</p>
                            <p class="text-xl text-white font-bold bg-[#349DD0]">( OB-GYNs )</p>
                        </div>
                        <div>
                            <p class="text-sm text-white bg-[#349DD0]">Dr. Shutra Maury is a skilled OB-GYN specializing in women’s health, offering expert care in reproductive health, pregnancy, and routine gynecological services.</p>
                        </div>
                        <div class="flex gap-4">
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Renew</button>
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Terminate</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card flex items-center justify-center shadow-lg rounded-2xl w-[38rem] h-[18rem] relative bg-[#349DD0]">
                <div class="flex h-[17rem] gap-4 bg-[#349DD0] rounded-2xl relative">
                    <img class="w-[15rem] h-[20rem] rounded-2xl absolute -left-1 -top-9 z-10 bg-transparent" src="https://i.imgur.com/LkESmsO.png" alt="">
                    <div class="flex flex-col gap-4 my-7 mr-7 pl-60 bg-[#349DD0]">
                        <div class="flex flex-col">
                            <p class="text-xl text-white font-bold bg-[#349DD0]">Dr. Mark Lee</p>
                            <p class="text-xl text-white font-bold bg-[#349DD0]">( General Practitioners )</p>
                        </div>
                        <div>
                            <p class="text-sm text-white bg-[#349DD0]">Dr. Mark Lee is a dedicated General Practitioner providing comprehensive primary care, focusing on diagnosis, treatment, and preventive health for patients of all ages.</p>
                        </div>
                        <div class="flex gap-4">
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Renew</button>
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Terminate</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card flex items-center justify-center shadow-lg rounded-2xl w-[38rem] h-[18rem] relative bg-[#349DD0]">
                <div class="flex h-[17rem] gap-4 bg-[#349DD0] rounded-2xl relative">
                    <img class="w-[16.063rem] h-[20rem] rounded-2xl absolute -left-1 -top-9 z-10 bg-transparent" src="https://i.imgur.com/xIZfPjN.png" alt="">
                    <div class="flex flex-col gap-4 my-7 mr-7 pl-60 bg-[#349DD0]">
                        <div class="flex flex-col">
                            <p class="text-xl text-white font-bold bg-[#349DD0]">Dr. Brace Bon Conrad </p>
                            <p class="text-xl text-white font-bold bg-[#349DD0]">( Geriatricians )</p>
                        </div>
                        <div>
                            <p class="text-sm text-white bg-[#349DD0]">Dr. Brace Bon Conrad is a Geriatrician who specializes in caring for older adults, managing age-related conditions, and supporting healthy, independent living.</p>
                        </div>
                        <div class="flex gap-4">
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Renew</button>
                            <button class=" font-semibold rounded-2xl h-[3rem] w-[10rem]">Terminate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex lg:hidden flex-col min-h-screen w-full justify-start items-center px-4 py-8 bg-white">
    <div class="flex flex-col gap-11 w-full max-w-md">

        <div>
            <div class="text-center mb-6">
                <p class="masters-header text-2xl font-bold">Masters of Medicine</p>
                <p class="masters-sub text-xl font-bold">Meet our team of specialists</p>
            </div>
            <p class="text-color text-center mx-auto text-base">Our team of specialists is at the forefront of medical innovation. Each specialist brings a unique blend of expertise, empathy, and experience to ensure that your health is in the best hands:</p>
        </div>

        <div class="flex flex-col mx-auto gap-8">
            <div class="card flex flex-col items-center shadow-lg rounded-2xl w-full bg-[#349DD0] relative pb-4">
                <img class="w-40 h-48 rounded-2xl -mt-8 z-10 bg-transparent object-cover" src="https://i.imgur.com/Sm9qoJB.png" alt="">
                <div class="flex flex-col bg-[#349DD0] gap-2 px-4 mt-2 w-full">
                    <div class="flex flex-col bg-[#349DD0] items-center">
                        <p class="text-lg bg-[#349DD0] text-white font-bold">Dr. Sarah Johnson</p>
                        <p class="text-base bg-[#349DD0] text-white font-bold">( Family Medicine Doctors )</p>
                    </div>
                    <p class="text-xs bg-[#349DD0] text-white text-center">Dr. Sarah Johnson is a Family Medicine Doctor with over 10 years of experience, specializing in preventive care and managing chronic conditions for families.</p>
                    <div class="flex flex-col gap-4">
                        <button class=" font-semibold rounded-2xl h-[3rem]">Renew</button>
                        <button class=" font-semibold rounded-2xl h-[3rem]">Terminate</button>
                    </div>
                </div>
            </div>

            <div class="card flex flex-col items-center shadow-lg rounded-2xl w-full bg-[#349DD0] relative pb-4">
                <img class="w-40 h-48 rounded-2xl -mt-8 bg-transparent object-cover" src="https://i.imgur.com/Tu78710.png" alt="">
                <div class="flex flex-col gap-2 bg-[#349DD0] px-4 mt-2 w-full">
                    <div class="flex flex-col bg-[#349DD0] items-center">
                        <p class="text-lg bg-[#349DD0] text-white font-bold">Dr. Shutra Maury</p>
                        <p class="text-base bg-[#349DD0] text-white font-bold">( OB-GYNs )</p>
                    </div>
                    <p class="text-xs bg-[#349DD0] text-white text-center">Dr. Shutra Maury is a skilled OB-GYN specializing in women’s health, offering expert care in reproductive health, pregnancy, and routine gynecological services.</p>
                    <div class="flex flex-col gap-4">
                        <button class=" font-semibold rounded-2xl h-[3rem]">Renew</button>
                        <button class=" font-semibold rounded-2xl h-[3rem]">Terminate</button>
                    </div>
                </div>
            </div>

            <div class="card flex flex-col items-center shadow-lg rounded-2xl w-full bg-[#349DD0] relative pb-4">
                <img class="w-40 h-48 rounded-2xl -mt-8 z-10 bg-transparent object-cover" src="https://i.imgur.com/gknm8bR.png" alt="">
                <div class="flex flex-col gap-2 px-4 mt-2 bg-[#349DD0] w-full">
                    <div class="flex flex-col bg-[#349DD0] items-center">
                        <p class="text-lg text-white bg-[#349DD0] font-bold">Dr. Mark Lee</p>
                        <p class="text-base text-white bg-[#349DD0] font-bold">( General Practitioners )</p>
                    </div>
                    <p class="text-xs text-white bg-[#349DD0] text-center">Dr. Mark Lee is a dedicated General Practitioner providing comprehensive primary care, focusing on diagnosis, treatment, and preventive health for patients of all ages.</p>
                    <div class="flex flex-col gap-4">
                        <button class=" font-semibold rounded-2xl h-[3rem]">Renew</button>
                        <button class=" font-semibold rounded-2xl h-[3rem]">Terminate</button>
                    </div>
                </div>
            </div>

            <div class="card flex flex-col items-center shadow-lg rounded-2xl w-full bg-[#349DD0] relative pb-4">
                <img class="w-40 h-48 rounded-2xl -mt-8 z-10 bg-transparent object-cover" src="https://i.imgur.com/gwyIRF8.png" alt="">
                <div class="flex flex-col gap-2 px-4 mt-2 bg-[#349DD0] w-full">
                    <div class="flex flex-col bg-[#349DD0] items-center">
                        <p class="text-lg text-white bg-[#349DD0] font-bold">Dr. Brace Bon Conrad</p>
                        <p class="text-base bg-[#349DD0] text-white font-bold">( Geriatricians )</p>
                    </div>
                    <p class="text-xs text-white bg-[#349DD0] text-center">Dr. Brace Bon Conrad is a compassionate Geriatrician focused on the unique healthcare needs of older adults, providing expert care in aging-related conditions and promoting healthy, independent living.</p>
                    <div class="flex flex-col gap-4">
                        <button class=" font-semibold rounded-2xl h-[3rem]">Renew</button>
                        <button class=" font-semibold rounded-2xl h-[3rem]">Terminate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
