<div class="main flex items-center justify-between bg-black text-center px-10 h-[6rem]">
    <div class="flex items-center justify-center space-x-2 ">
        <img class="w-[5rem] h-[5rem]" src="https://i.imgur.com/ch8FBh0.png" alt="">
        <h1 class="text-white text-4xl">DocDirect</h1>
    </div>
    <div class="flex ">
        <ul class="flex justify-center space-x-[11.313rem] text-white text-2xl">
            <li routerLink="" >Home</li>
            <li routerLink="" >About</li>
            <li routerLink="" >Services</li>
            <li routerLink="" >Contact</li>
        </ul>
    </div>
    <div class="flex items-center space-x-4">
        <svg class="search" xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24">
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.5 17.5L22 22m-2-11a9 9 0 1 0-18 0a9 9 0 0 0 18 0" color="#52DEA0" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24">
            <path d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12S6.48 2 12 2M6.023 15.416C7.491 17.606 9.695 19 12.16 19s4.669-1.393 6.136-3.584A8.97 8.97 0 0 0 12.16 13a8.97 8.97 0 0 0-6.137 2.416M12 11a3 3 0 1 0 0-6a3 3 0 0 0 0 6" />
        </svg>
    </div>

</div>
