<div class="main absolute w-screen flex items-center justify-between text-center px-10 h-[7rem]">
    <div class="flex items-center justify-center space-x-2 ">
        <img class="hidden lg:flex w-[5rem] h-[5rem]" src="https://i.imgur.com/WVJnWqs.png" alt="">
        <h1 class="text-[1.5rem] font-bold">DOCDIRECT</h1>
    </div>
    <div class="hidden lg:flex">
        <ul class="flex justify-center space-x-[2.5rem] text-white text-[1rem]">
            <li routerLink="" >Home</li>
            <li routerLink="" >Services</li>
            <li routerLink="" >Find Doctors</li>
            <li routerLink="" >About Us</li>
            <li routerLink="" >Contact Us</li>
        </ul>
    </div>
    <div class="flex items-center justify-center space-x-10">
        <button class="hidden lg:flex  button text-white text-2xl rounded-2xl">Join us</button>
        <button><svg nz-button class="drawer-btn bg-white" (click)="toggleDrawer()" nzType="primary" class="menu" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"/></svg>       </button>
    </div>
</div>

<!-- Drawer -->
<div class="drawer h-screen" [class.open]="isDrawerOpen">
  <div class="drawer-header">
    <h3>Menu</h3>
    <button (click)="toggleDrawer()">✕</button>
  </div>
  <app-drawer></app-drawer>
</div>