<ul class="content h-screen bg-white">
    <!-- login and sign up button -->
    <div class="buttons flex gap-3">
        <div class="flex lg:hidden ">
            <button class="button" routerLink="/login">Log In</button>
        </div>
        <div class="flex lg:hidden">
            <button class="register" routerLink="/register">Sign up</button>
        </div>  
    </div>

    <!-- <div class="person flex gap-3">
        <img class="pfp" src="https://i.imgur.com/ENTFYZX.png" alt="Makima">
        <div>
            <h1>John Doe</h1>
            <p>Aspiring Beginner</p>
        </div>
    </div>  -->

    <!-- 12 - 18  Will change when backend is done -->

    <!-- menu options -->
    <div>
        <h1>Navigate</h1>
        <li [routerLink]="'/home'" fragment="home">Home</li>
        <li [routerLink]="'/home'" fragment="services">Services</li>
        <li [routerLink]="'/home'" fragment="doctors">Find Doctors</li>
        <li [routerLink]="'/home'" fragment="about-us">About Us</li>
        <li [routerLink]="'/home'" fragment="contact-us">Contact Us</li>
    </div>
</ul>