<div class="main flex w-screen h-screen justify-center items-center">
    <div>
        <div class="flex flex-col text-center items-center gap-5 mb-10">
            <p class="text-4xl font-bold">Top <span class="font-bold">Services</span> we offer </p>
            <p class="text-color w-1/2">In today’s fast-paced world, your health deserves the utmost attention and convenience. That’s why HealNet offers a suite of integrated services designed to cater to your healthcare needs digitally:</p>
        </div>
        <div class="flex flex-wrap justify-center m-auto gap-6 w-[60.75rem] h-fit py-10">

            <div class="cards w-[35.438rem]">
                <div class="brdr flex flex-col px-[3.75rem] h-[17.5rem] shadow-2xl py-4 gap-2 rounded-2xl">
                    <img class="w-[3rem] h-[3rem]" src="https://i.imgur.com/pbMI07v.png" alt="">
                    <h1>AI Inquiry Chat</h1>
                    <p>An AI inquiry chat for medical questions is a digital tool that uses artificial intelligence to provide quick, confidential answers about symptoms, treatments, medications, and healthcare services, guiding users on next steps or when to see a professional.</p>
                </div>
            </div>

            <div class="cards w-[23.125rem]">
                <div class="brdr flex flex-col h-[17.5rem] px-[3.75rem] shadow-2xl py-4 gap-2 rounded-2xl">
                    <img class="w-[3rem] h-[3rem]" src="https://i.imgur.com/6Zo39CW.png" alt="">
                    <h1>Booking Appointments</h1>
                    <p>Choose the best time for an in-person visit with our easy-to-use scheduling system, or proceed with our online consultation features.</p>
                </div>
            </div>
        
    
            <div class="cards w-[60rem] ">
                <div class="brdr flex flex-col px-[3.75rem] shadow-2xl py-6 gap-2 rounded-2xl">
                    <img class="w-[3rem] h-[3rem]" src="https://i.imgur.com/mgGGZiG.png" alt="">
                    <h1>Online Consultations</h1>
                    <p class="w-2/5">Receive and renew prescriptions digitally after your consultation with our specialists .</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-5/6 w-screen flex justify-center items-center">
    <div class="brdr flex flex-col gap-7 h-[34.5rem] py-14 px-10 w-[72.875rem]">
        <div class="flex items-center  justify-center gap-1">
            <p class="abt-text text-[2rem] font-bold">DOCDIRECT:</p>
            <p class="text-[2rem] font-bold">Get to know us</p>
        </div>
        <div class="flex gap-10">
            <img src="https://i.imgur.com/F3RPRvr.png" alt="">
            <div class="flex flex-col gap-7">
                <p>DOCDIRECT  is more than just an online medical service; it’s a movement towards accessible, efficient, and compassionate healthcare for all. Founded by a team of visionary doctors, healthcare professionals, and technology experts, we are driven by the mission to deliver exceptional medical care directly to you, no matter where you are. Our platform is built on the pillars of trust, innovation, and patient-centricity, ensuring that every interaction is personalized and every treatment plan is tailored to your unique needs. With a network of licensed practitioners from diverse medical fields, we guarantee comprehensive care that’s just a click away.</p>
                <button class="abt-btn h-[4rem] w-[20rem] rounded-2xl text-xl font-bold">Learn more about us</button>
            </div>
        </div>
    </div>
</div>