p {
    color: var(--text-color2);
}

.card-text {
    color: var(--text-color1);
}

.book-btn {
    color: white;
    background-color: var(--primary-color2);
    border-color: var(--primary-color2);
}

.book-btn:hover {
    background-color: var(--text-color2);
    transition: background-color 0.3s ease-in-out;
}